@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap");
/********
    scss variables
********/
body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5; }

* {
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

.text-content-top {
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .text-content-top .hero-title {
    color: #ffffff; }
    .text-content-top .hero-title h1 {
      font-size: 4rem;
      margin: 0; }
    .text-content-top .hero-title h3 {
      font-size: 2rem;
      margin: 0; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em; }
  button:focus, button:active,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="reset"]:focus,
  input[type="reset"]:active,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    outline: 0;
    inset: 0;
    box-shadow: unset; }

.form-control,
.custom-select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #4d9f45;
  background-color: unset; }
  .form-control:focus, .form-control:active,
  .custom-select:focus,
  .custom-select:active,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="search"]:focus,
  input[type="search"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  textarea:focus,
  textarea:active {
    border: 1px solid #4d9f45;
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6); }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

.custom-form-btn {
  background-color: #a8b622;
  color: #ffffff; }
  .custom-form-btn:hover {
    background-color: #c3d03f !important;
    color: #ffffff; }
  .custom-form-btn:focus {
    border: 1px solid #a8b622;
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6); }

/*......................................................*/
/*...................... Brand-logo style considering screen readers ......................*/
.main-nav-bar {
  background-color: #1b1c13; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff; }

/*...........................
navbar brand logo modified for screen-readers
*/
.navbar-brand {
  text-indent: -100000px;
  padding: 0; }
  .navbar-brand h2 {
    background-image: url("../images/brand-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90px;
    height: 40px; }

.btn-custom-green-outline {
  border: 1px solid #a8b622; }
  .btn-custom-green-outline:hover {
    background-color: #4d9f45; }
  .btn-custom-green-outline:focus {
    border: 1px solid #4d9f45; }

.mobile-menu-icon {
  color: #4d9f45 !important; }
  .mobile-menu-icon:active {
    color: #a8b622 !important;
    border: 1px solid #4d9f45 !important; }

.custom-nav-btn {
  color: #ffffff; }
  .custom-nav-btn:hover, .custom-nav-btn:focus {
    background-color: #a8b622;
    color: #ffffff;
    outline: 0;
    inset: 0;
    box-shadow: unset; }

.custom-nav-link {
  color: #ffffff; }
  .custom-nav-link:hover {
    color: #a8b622; }

/*......................................................*/
/*......................
 Nav-links animation 
 ......................*/
.main-animate-nav-item {
  display: inline-block;
  position: relative;
  margin-right: 1.2em; }

.main-animate-nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #a8b622;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0; }

.main-animate-nav-item:hover:after {
  width: 100%;
  left: 0; }

.main-animate-nav-item.active {
  border-bottom: 3px solid #a8b622;
  color: #ffffff; }

/* ..............
 hero content section
 ..................*/
.hero {
  height: 80vh;
  background-image: url(../images/hero-banner4.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat; }

.how-it-works {
  height: 70vh;
  background-image: url("../images/buses-background.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .how-it-works .content-area {
    background-color: rgba(0, 0, 0, 0.4); }
  .how-it-works ul {
    counter-reset: counter-name;
    font-size: 1.3rem; }
    .how-it-works ul li {
      list-style: none;
      position: relative;
      margin-bottom: 2.5em;
      padding-left: 1em; }
    .how-it-works ul li::before {
      counter-increment: counter-name;
      content: counter(counter-name) "  ";
      position: absolute;
      left: -2.5rem;
      top: -0.2em;
      width: 2em;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 3px solid #ffffff;
      color: #ffffff; }

/*......................................................*/
/*...................... Hero tab ......................*/
.hero-tab-main-content-wrapper {
  background-color: #ffffff; }

.index-booking-form {
  margin-top: -200px; }

.hero-tab-nav-links {
  background-color: #f0f0f0;
  color: #a8b622;
  border-radius: 0 !important;
  padding-top: 1em;
  padding-bottom: 1em; }
  .hero-tab-nav-links:hover, .hero-tab-nav-links:focus {
    color: #4d9f45; }
  .hero-tab-nav-links.active {
    background-color: #a8b622 !important;
    color: #ffffff; }

.book-a-seat-tab-nav-links {
  background-color: #dedede;
  box-shadow: 2px 5px 5px rgba(56, 53, 53, 0.3);
  color: #a8b622; }
  .book-a-seat-tab-nav-links:hover, .book-a-seat-tab-nav-links:focus {
    color: #4d9f45; }
  .book-a-seat-tab-nav-links.active {
    background-color: #a8b622 !important;
    box-shadow: unset !important; }

.section-title::after {
  content: "";
  display: block;
  height: 10px; }

/*...............why-choose-us-list................*/
.why-choose-us .section-title::after {
  background-color: #a8b622;
  width: 10%;
  margin: 0 auto;
  margin-top: 0.5em; }

.why-choose-us-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }
  .why-choose-us-list li {
    text-align: center;
    flex-basis: 46%; }

/*...............How it works................*/
.how-it-works-inner {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center; }
  .how-it-works-inner .section-title::after {
    background-color: #ffffff;
    width: 25%;
    margin-top: 0.5em; }

.problem-then-contact-us {
  background-color: #212121; }
  .problem-then-contact-us .problem-then-contact-us-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }

.title-component-wrapper {
  background-color: #202020;
  background-image: url(../images/page-title-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  color: #ffffff; }

.select-bus-page-header {
  background-color: #7b9e89; }

.select-bus-condition-wrapper {
  background-color: #f18805; }

/*......................................................*/
/*...................... footer ......................*/
footer {
  background-color: #293927;
  color: #ffffff; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style: none;
      margin-top: 1em; }
  footer a {
    text-decoration: none;
    color: #ffffff; }
    footer a:hover, footer a:focus {
      color: #ffffff; }
  footer .social-icons {
    display: flex; }
    footer .social-icons .social-icon {
      margin-right: 2em; }
  footer .footer-column-title::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background-color: #a8b622;
    margin-top: 0.5em; }

/* Style the form */
#regForm {
  background-color: #ffffff; }

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa; }

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd; }

/* Hide all steps by default: */
.tab {
  display: none; }

/* Make circles that indicate the steps of the form: */
.step {
  height: 60px;
  width: 60px;
  margin: 0 2px;
  background-color: #bbbbbb;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  margin: 0; }

.step p {
  margin: 0;
  font-weight: 600; }

/* Mark the active step: */
.step.active {
  opacity: 1; }

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00327a; }

.step.finish > .step-label {
  color: #00327a !important;
  font-weight: 600; }

.line-through-steps {
  background-color: #bbbbbb;
  height: 5px;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto; }

.step-indicators {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: relative; }

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00327a; }

.custom-control-label::after {
  background-image: url(../images/seat.svg) !important; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #4d9f45;
  background-color: #4d9f45; }

.step-2-fill-information-page .passenger-accordion-plus-btn::before,
.step-2-fill-information-page .passenger-accordion-minus-btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #a8b622; }
.step-2-fill-information-page .passenger-accordion-plus-btn::before {
  content: "\f067"; }
.step-2-fill-information-page .passenger-accordion-minus-btn::before {
  content: "\f068"; }
.step-2-fill-information-page .passenger-accordion-btn:hover {
  border: none; }
.step-2-fill-information-page .passenger-accordion-btn:focus {
  border: 1px solid #4d9f45;
  outline: 0;
  inset: 0;
  box-shadow: unset; }

.faq-accordion-button {
  color: #4d9f45; }
  .faq-accordion-button:hover {
    color: #a8b622; }

@media (min-width: 765px) {
  .curve-left-top {
    border-radius: 10px 0 0 0 !important; }

  .curve-right-top {
    border-radius: 0 10px 0 0 !important; }

  .why-choose-us-list li {
    text-align: center;
    flex-basis: 24%; } }
@media (max-width: 425px) {
  .step {
    height: 40px;
    width: 40px; } }
/* structure.hml style */
.step-indicators-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; }

.step-indicator-circle {
  background-color: aqua;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.text {
  /* bottom: 0; */ }

/*# sourceMappingURL=style.css.map */
