@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap");

/********
    scss variables
********/
$OneViewport: 100vh;
$greenishColor: #4d9f45;
$greenishLightColor: #a8b622;
$greenishLightColor2: #c3d03f;
$greyishColor: #dedede;
$white: #ffffff;
$lightBlue: #2589bd;
$mainFontfamily: "Roboto", sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

.text-content-top {
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  .hero-title {
    color: $white;
    h1 {
      font-size: 4rem;
      margin: 0;
    }
    h3 {
      font-size: 2rem;
      margin: 0;
    }
  }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  &:focus,
  &:active {
    outline: 0;
    inset: 0;
    box-shadow: unset;
  }
}

.form-control,
.custom-select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
  font-family: $mainFontfamily;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid $greenishColor;
  background-color: unset;

  &:focus,
  &:active {
    border: 1px solid $greenishColor;
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
  }
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

// custom buttom
.custom-form-btn {
  background-color: $greenishLightColor;
  color: $white;
  &:hover {
    background-color: $greenishLightColor2 !important;
    color: $white;
  }
  &:focus {
    border: 1px solid $greenishLightColor;
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
  }
}

//........................................

/*......................................................*/
/*...................... Brand-logo style considering screen readers ......................*/
.main-nav-bar {
  background-color: #1b1c13;
}
.navbar-light .navbar-nav .nav-link {
  color: $white;

  &:hover {
    color: $white;
  }
}

/*...........................
navbar brand logo modified for screen-readers
*/
.navbar-brand {
  text-indent: -100000px;
  padding: 0;
  h2 {
    background-image: url("../images/brand-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90px;
    height: 40px;
  }
}

.btn-custom-green-outline {
  border: 1px solid $greenishLightColor;
  &:hover {
    background-color: $greenishColor;
  }
  &:focus {
    border: 1px solid $greenishColor;
  }
}

.mobile-menu-icon {
  color: $greenishColor !important;

  &:active {
    color: $greenishLightColor !important;
    border: 1px solid $greenishColor !important;
  }
}

.custom-nav-btn {
  color: $white;

  &:hover,
  &:focus {
    background-color: $greenishLightColor;
    color: $white;
    outline: 0;
    inset: 0;
    box-shadow: unset;
  }
}

.custom-nav-link {
  color: $white;
  &:hover {
    color: $greenishLightColor;
  }
}
/*......................................................*/
/*......................
 Nav-links animation 
 ......................*/

.main-animate-nav-item {
  //   letter-spacing: 0.12em;
  display: inline-block;
  position: relative;
  margin-right: 1.2em;
}

.main-animate-nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: $greenishLightColor;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.main-animate-nav-item:hover:after {
  width: 100%;
  left: 0;
}
.main-animate-nav-item.active {
  border-bottom: 3px solid $greenishLightColor;
  color: $white;
}

/* ..............
 hero content section
 ..................*/
.hero {
  height: 80/100 * $OneViewport;
  background-image: url(../images/hero-banner4.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
}

.how-it-works {
  height: 70vh;
  background-image: url("../images/buses-background.png");
  background-size: cover;
  background-repeat: no-repeat;

  .content-area {
    background-color: rgba(0, 0, 0, 0.4);
  }

  ul {
    counter-reset: counter-name;
    font-size: 1.3rem;

    li {
      list-style: none;
      position: relative;
      margin-bottom: 2.5em;
      padding-left: 1em;
    }

    li::before {
      counter-increment: counter-name;
      content: counter(counter-name) "  ";
      position: absolute;
      left: -2.5rem;
      top: -0.2em;
      width: 2em;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 3px solid $white;
      color: $white;
    }
  }
}

/*......................................................*/
/*...................... Hero tab ......................*/

.hero-tab-main-content-wrapper {
  background-color: $white;
}

.index-booking-form {
  margin-top: -200px;
}

.hero-tab-nav-links {
  background-color: #f0f0f0;
  color: $greenishLightColor;
  border-radius: 0 !important;
  padding-top: 1em;
  padding-bottom: 1em;
  &:hover,
  &:focus {
    color: $greenishColor;
  }
  &.active {
    background-color: $greenishLightColor !important;
    color: $white;
  }
}

.book-a-seat-tab-nav-links {
  background-color: $greyishColor;
  box-shadow: 2px 5px 5px rgba(56, 53, 53, 0.3);
  color: $greenishLightColor;
  &:hover,
  &:focus {
    color: $greenishColor;
  }

  &.active {
    background-color: $greenishLightColor !important;
    box-shadow: unset !important;
  }
}

.section-title::after {
  content: "";
  display: block;
  height: 10px;
}

/*...............why-choose-us-list................*/
.why-choose-us {
  .section-title::after {
    background-color: $greenishLightColor;
    width: 10%;
    margin: 0 auto;
    margin-top: 0.5em;
  }
}
.why-choose-us-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  li {
    text-align: center;
    flex-basis: 46%;
  }
}

/*...............How it works................*/
.how-it-works-inner {
  .section-title::after {
    background-color: $white;
    width: 25%;
    margin-top: 0.5em;
  }
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}

.problem-then-contact-us {
  background-color: #212121;
  .problem-then-contact-us-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.title-component-wrapper {
  background-color: #202020;
  background-image: url(../images/page-title-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  color: $white;
}

.select-bus-page-header {
  background-color: #7b9e89;
}

.select-bus-condition-wrapper {
  background-color: #f18805;
}

/*......................................................*/
/*...................... footer ......................*/
footer {
  background-color: #293927;
  color: $white;

  ul {
    padding: 0;
    li {
      list-style: none;
      margin-top: 1em;
    }
  }

  a {
    text-decoration: none;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .social-icons {
    display: flex;
    // justify-content: space-between;
    // width: 50%;

    .social-icon {
      margin-right: 2em;
    }
  }

  .footer-column-title::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background-color: $greenishLightColor;
    margin-top: 0.5em;
  }
}

// vehicle-selection page
/* Style the form */
#regForm {
  background-color: #ffffff;
  // margin: 100px auto;
  // padding: 40px;
  // width: 70%;
  // min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 60px;
  width: 60px;
  margin: 0 2px;
  background-color: #bbbbbb;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  margin: 0;
}

.step p {
  margin: 0;
  font-weight: 600;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00327a;
}
.step.finish > .step-label {
  color: #00327a !important;
  font-weight: 600;
}

.line-through-steps {
  background-color: #bbbbbb;
  height: 5px;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;
}

.step-indicators {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00327a;
}
// vehicle-selection page
.vehicle-selection-container {
}

// step-1-select-a-bus
.step-1-select-a-bus-page {
}

.custom-control-label::after {
  // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' heig…M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e);
  // background: green !important;
  background-image: url(../images/seat.svg) !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $greenishColor;
  background-color: $greenishColor;
}

// .custom-checkbox .custom-control-input {
//   background-color: red;
// }

// step-2-fill-information-page
.step-2-fill-information-page {
  .passenger-accordion-plus-btn::before,
  .passenger-accordion-minus-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $greenishLightColor;
  }
  .passenger-accordion-plus-btn::before {
    content: "\f067";
  }
  .passenger-accordion-minus-btn::before {
    content: "\f068";
  }
  .passenger-accordion-btn {
    &:hover {
      border: none;
    }

    &:focus {
      border: 1px solid $greenishColor;
      outline: 0;
      inset: 0;
      box-shadow: unset;
    }
  }
}

.faq-accordion-button {
  color: $greenishColor;
  &:hover {
    color: $greenishLightColor;
  }
}

@media (min-width: 765px) {
  .curve-left-top {
    border-radius: 10px 0 0 0 !important;
  }

  .curve-right-top {
    border-radius: 0 10px 0 0 !important;
  }

  .why-choose-us-list {
    li {
      text-align: center;
      flex-basis: 24%;
    }
  }
}

@media (max-width: 425px) {
  .step {
    height: 40px;
    width: 40px;
  }
}

/* structure.hml style */
.step-indicators-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.step-indicator-circle {
  background-color: aqua;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  /* bottom: 0; */
}
