/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 60px;
  width: 60px;
  margin: 0 2px;
  background-color: #bbbbbb;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  margin: 0;
}

.step p {
  margin: 0;
  font-weight: 600;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00327a;
}
.step.finish > .step-label {
  color: #00327a !important;
  font-weight: 600;
}

.line-through-steps {
  background-color: #bbbbbb;
  height: 5px;
  position: absolute;
  top: 50%;
  width: 97%;
  margin: 0 auto;
}

.step-indicators {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* #step-1-indicator::after {
  content: "sahABJCB";
  display: block;
  bottom: 0;
  border: 1px solid red;
} */

@media (max-width: 425px) {
  .step {
    height: 40px;
    width: 40px;
  }
}

/* structure.hml style */
.step-indicators-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.step-indicator-circle {
  background-color: aqua;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  /* bottom: 0; */
}
